@import "compass/css3";

// Import Fonts
@import url(http://weloveiconfonts.com/api/?family=iconicstroke);
@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
  font-size: 1.75em;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}



// General Styles

body {
  background: #eaeaea;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.wrapper {
  text-align: center;
  width: auto;
}

// Header
header {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  height: 35px;
  padding: 1em 2em 0 2em;
  width: auto;
  
  // The main logo
  h1 {
    color: #55acee;
    display: inline-block;
    font-size: 21px;
  }
  
  // All header unordered lists
  ul { list-style: none; }
  
  // All header list items
  li {
    display: inline;
    overflow: hidden;
    text-align: center;
    width: 100px;
  }
  
  // All header links
  a { 
    color: #66757f;
    text-decoration: none;
    
    &:hover { color: #fb8805; }
    
  }
  
}

// Navigation
nav[role="navigation"] {
  background: transparent;
  float: left;
  
  // Unordered list
  ul { float: left; }
  
  // List item
  li {
    
    a {
      border-bottom: 4px solid transparent;
      padding: 0 15px 9px 15px;
      @include transition (color .15s ease-in-out 0s);
      
      &:hover {
       border-bottom: 4px solid #fb8805;
       padding: 0 15px 7px 15px;
       @include transition (padding .15s ease-in-out 0s);
      }
      
    }
    
  }
  
}

// Utility navigation
.utilities {
  display: inline-block;
  float: right;
  
  // List items
  li { margin-right: 1em; }
  
  // Form
  form {
    bottom: 8px;
    display: inline-block;
    position: relative;
    
    input {
      background: #66757f;
      border: none;
      height: 30px;
      padding: 0 1em;
      width: 180px;
      @include border-radius(21px);
    }
    
  }
  
}

// Active state
.active {
  border-bottom: 4px solid #fb8805;
  padding: 0 0 7px 0;
  
  &:hover {
    border: none;
    padding: 0 0 7px 0;
    @include transition (padding 0s ease-in-out 0s);
  }
}